.App {
  
}

.App-header {
  background-color: #555;
  height: 200px;
  padding: 20px;
  margin: auto;
  color: white;
  background: url('http://danlubbers.com/img/action/danlubbers-action-portfolio-3.jpg') no-repeat center;
  background-position-y: -225px;
}

.App-title {
  font-size: 3.5vh;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 3px;
  margin: 80px 0px 0px 450px
}

.App-intro {
  font-size: large;
}
.main-body {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

h1 {
  font-size: 2vh;
  margin: auto;
}

.addPackedButton, .removeButton, addListButton {
  margin: 25px;
  border-radius: 15px;
  text-decoration: none;
}

.addPackedButton:hover, .removeButton:hover, .addListButton:hover {
  background-color: rgb(181, 181, 181);
  transition: all .1s ease .1s;
}

.gearInput {
  display: flex;
  justify-content: center;
  align-items: center;
}

